{% extends 'base.html' %}
{% block content %}
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h3 class="display-6">Editar Usuário</h3>
      </div>
      <div class="card-body">
        <form method="post" class="form" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label for="username" class="form-label">Nome de Usuário:</label>
            <input type="text" name="username" class="form-control" id="username" value="{{ form.username.value }}">
          </div>
          <div class="form-group mb-3">
            <label for="full_name" class="form-label">Nome Completo:</label>
            <input type="text" name="full_name" class="form-control" id="full_name" value="{{ form.full_name.value }}">
          </div>
          <div class="form-group mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" name="email" class="form-control" id="email" value="{{ form.email.value }}">
          </div>
          <div class="form-group mb-3">
            <label for="cpf" class="form-label">CPF:</label>
            <input type="text" name="cpf" class="form-control" id="cpf" value="{{ form.cpf.value }}">
          </div>
          <div class="form-group mb-3">
            <label for="birth_date" class="form-label">Data de Nascimento:</label>
            <input type="date" name="birth_date" class="form-control" id="birth_date" value="{{ form.birth_date.value }}">
          </div>
          <div class="form-group mb-3">
            <label for="phone_number" class="form-label">Telefone:</label>
            <input type="text" name="phone_number" class="form-control" id="phone_number" value="{{ form.phone_number.value }}">
          </div>
          <div class="row mb-3">
            <div class="col-md-4">
              <div class="form-check">
                <input type="checkbox" id="is_active" name="is_active" class="form-check-input" {% if form.is_active.value %}checked{% endif %}>
                <label for="is_active" class="form-check-label">Ativo</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-check">
                <input type="checkbox" id="is_staff" name="is_staff" class="form-check-input" {% if form.is_staff.value %}checked{% endif %}>
                <label for="is_staff" class="form-check-label">Administrador</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-check">
                <input type="checkbox" id="is_superuser" name="is_superuser" class="form-check-input" {% if form.is_superuser.value %}checked{% endif %}>
                <label for="is_superuser" class="form-check-label">Superusuário</label>
              </div>
            </div>
          </div> 
          <button type="submit" class="btn btn-primary">Salvar Usuário</button>
        </form>
      </div>
    </div>
    <a href="{% url 'user_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar</a>
  </div>
{% endblock %}
