{% extends 'base.html' %}
{% block content %} 
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h3 class="display-6">Editar Fornecedor</h3>
      </div>
      <div class="card-body">
        <form method="post" class="form">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label for="name" class="form-label">Nome:</label>
            <input type="text" name="name" class="form-control" id="name" value="{{ form.name.value }}">
          </div>
          <div class="form-group mb-3">
            <label for="description" class="form-label">Descrição:</label>
            <textarea name="description" class="form-control" id="description" rows="3">{{ form.description.value }}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Salvar Fornecedor</button>
        </form>
      </div>
    </div>
    <a href="{% url 'supplier_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar</a>
  </div>
{% endblock  %}