{% extends 'base.html' %}
{% block content %}
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h3 class="display-6">Detalhes da Saída</h3>
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ object.product }}</h3>
        <p class="card-text">Quantidade: <strong>{{ object.quantity }}</strong></p>
        <p class="card-text">{{ object.description }}</p>
      </div>
    </div>
    <a href="{% url 'outflow_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar</a>
  </div>
{% endblock  %}