{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/color_mode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fontawesome.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdf_generate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/groups_func.js' %}"></script>